.ezdrop-mask{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9998;
}
.ezdrop-mask .hotzone-container,
.ezdrop-mask .svgcanvas-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
}
.ezdrop-mask .img-container{
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10001;
}
.ezdrop-mask .img-container .img{
    user-select: none;
    pointer-events: none;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #FFF;
    z-index: 10001;
}
.ezdrop-mask .img-container .background{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 2px solid #FFF;
}
.ezdrop-mask .img-container .background svg,
.ezdrop-mask .img-container .background img,
.ezdrop-mask .img-container .background section{
    user-select: none;
    pointer-events: none;
    opacity: 1;
    z-index: 10001;
}
.ezdrop-mask .img-container .background img{
    display: block;
}
.ezdrop-mask .tooltip-container{
    font-family: "mp-quote", -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    position: absolute;
    color: white;
    user-select:none;
    -webkit-user-select: none;
    top: 15px;
    left: 20px;
}
.ezdrop-mask .audio-hotzone,
.ezdrop-mask .img-hotzone{
    position: absolute;
    opacity: 0.5;
    overflow: hidden;
    border: 2px dashed white;
    font-family: "mp-quote", -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    font-size: 12px;
    color: white;
    box-sizing: border-box;
    z-index: 10002;
}
.ezdrop-mask .effect-element{
    position: absolute;
    border: 2px dashed white;
    box-sizing: border-box;
    z-index: 10002;
}
.ezdrop-mask .effect-element svg,
.ezdrop-mask .effect-element img,
.ezdrop-mask .effect-element section{
    width: 100%;
    height: 100%;
    transform-origin: center center;
}
.ezdrop-mask .hotzone-button,
.ezdrop-mask .svgcanvas-button{
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ezdrop-mask .save-button{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    color: white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ezdrop-mask .save-button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}