@keyframes rippleAnimation {
    from {
        opacity: 1;
        transform: scale(0);
    }
    25% {
        opacity: 0.75;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1);
    }
    75% {
        opacity: 0.25;
        transform: scale(2);
    }
    to {
        opacity: 0;
        transform: scale(3);
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgb(0, 123, 255); /* 调整为期望的颜色 */
    transform: scale(0);
    animation: rippleAnimation 1200ms linear;
    pointer-events: none; /* 避免干扰其他事件 */
}